body {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex: auto;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: blue;
    border-style: solid;
    border-radius: 25px;
    padding: 25px;
    margin-top: 5%;
}

.scoreBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: blue;
    border-style: solid;
    background-color: lavender;
}

.score {
    margin: 5px;
    padding: 5px;
    border: blue;
    border-style: solid;
    background-color: white;
}

.messageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#message {
    margin-bottom: 10px;
}

.choices {
    display: flex;
    padding: 1px;
    margin: 1px;
}

.imgBox {
    display: flex;
    flex: 1;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p {
    margin: 2px;
}

button {
    margin-top: 10%;
    height: 200px;
    margin-bottom: 10%;
}

img {
    max-width: 180px;
    max-height: 180px;
    display: flex;
}